* {
  box-sizing: border-box;
}
:root {
  --color-primary: #090909;
  --color-bg: white;
  --font-size-base: 24px;
}
@media screen and (min-width: 1280px) {
  :root {
    --font-size-base: 36px;
  }  
}
html {
  font-size: var(--font-size-base);
  padding: 0 .75rem;
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
  color: var(--color-primary);
}
h1 {
  font-size: 3rem;
  margin: 0.75rem 0;
}
h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

/* I guess I'm making bootstrap now */
.d-f {
  display: flex;
}
.f-ai-e {
  align-items: end;
}
.f-jc-sb {
  justify-content: space-between;
}

/* this is page-specific; inline it? */
header.site-title {
  border-bottom: 1px solid var(--color-primary);
}
.site-title .ticker {
  font-size: 0.5rem;
}
.site-title h1 {
  margin: 0;
  text-align: center;
  font-family: serif;
  font-size: 8vw;
}
@media screen and (min-width: 1280px) {
  .site-title h1 {
    font-size: 3rem;
  }
}
.site-title p {
}
.site-title time {
}

/* navigation is outside the main header so it can be a column among others */
nav {
  /* fix the base size */
  font-size: 0.75rem; 
}
nav summary {
  list-style: none;  
} 
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul > li {
  margin: .25rem 0
}
@media screen and (max-width: 539px) {
  nav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--color-bg);
  }
  nav ul {
    padding: 0 1rem;
  }
  nav details {
  }
  nav details summary {
    width: 0;
    white-space: nowrap;
    padding: 1rem 0 1rem 2rem;
  }
  nav details summary::before {
    content: "?";
    position: relative;
    left: -1rem;
  }

  nav details[open] {
    margin-right: 0;
  }
  nav details[open] summary {
    width: initial;
    padding: 1rem;
  }
  nav details[open] summary::before {
    content: "";
  }
}


@media screen and (min-width: 1280px) {
  nav {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 540px) and (max-width: 1279px) {
  nav * {
    display: inline-block;
  }
  nav details {
    display: block;
  }
  nav summary {
    display: none;
  }
  nav ul {
    padding: 0;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content-flex-start;
    gap: 0.5rem 1.5rem;
  }
  nav ul > li {
    flex-shrink: 0;
  }
}
@media screen and (min-width: 960px) {
  nav ul {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  nav {
    width: 25%;
    display: inline-block;
    float: left;
  }  
}

main article {
  margin-left: 0;
  font-size: 0.5rem;
  column-count: auto;
  column-width: 35ch;
}
main article h2 {
  margin: 0;
  white-space: nowrap;
  column-span: all;
  border-bottom: 1px solid var(--color-primary);
}
main article address {
  margin: 0 1rem;
  display: inline-block;
}
main article time {
  line-height: 1rem;
}
main article p {
  line-height: 1rem;
  text-indent: 1rem;
}

/* these styles apply to post pages */
article > p {
  margin: 0;
  text-indent: 2.5rem;
  line-height: 2rem;
}
/* illumination? nah, newspaper style */
article > p:first-of-type {
  text-indent: 0;
}
/* scss nested selectors would be useful */
article > p:first-of-type::first-letter {
  font-size: 300%;
  padding: .25rem;
  padding-right: 0;
  vertical-align: sub;
  float: left;
  line-height: 2.5rem;
}

article time {
  line-height: 2rem;
}

article > address {
  text-align: right;
  margin: 2rem 0;
}

/* width and breakpoints
 * TODO: size article width rather than body after article elements exist */
/* TBD breakpoints via env (since media queries don't work) */
:root {
  --size-med: 540px;
  --size-lrg: 960px;
  --size-xlg: 1280px;
}

@media screen {
  body {
    width: 100%;
    max-width: none;
  }
}

@media screen and (min-width: 540px) {
  article {
    width: var(--size-med);
    margin-right: calc(100% - var(--size-med));
  }
}
@media screen and (min-width: 960px) {
  article {
    width: calc(0.75 * var(--size-lrg));
    margin-left: calc(33% - calc( 0.25 * var(--size-lrg)));
    margin-right: calc(67% - calc( 0.5 * var(--size-lrg)));
  }
}

@media screen and (min-width: 1280px) {
  article {
    width: calc(1.125 * var(--size-lrg));
  }
}

/* embedded tweets before their loading script */
blockquote.twitter-tweet {
  border: 1px solid rgb(207, 217, 222);
  border-radius: 12px;
  padding: 1rem;
  margin-left: 0;
  width: 550px;
}
blockquote.twitter-tweet:hover {
  background-color: rgb(247,249,249);
  cursor: pointer;
}
blockquote.twitter-tweet.loading {
  background-color: rgb(247,249,249);
  cursor: initial;
}
blockquote.twitter-tweet button {
  color: rgb(29, 155, 240);
  padding: 0.25rem;
  font-weight: bold;
  cursor: pointer;
  margin: 1rem auto 0;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  border: 1px solid;
}
