* {
  box-sizing: border-box;
}
html {
  font-size: 24px;
  padding: 0 .75rem;
}
body {
  margin: 0;
}
time {
  line-height: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}
h1 {
  font-size: 4rem;
  margin: 0.75rem 0;
}
h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

article > p {
  margin: 0;
  text-indent: 2.5rem;
  line-height: 2rem;
}
/* illumination? nah, newspaper style */
article > p:first-of-type {
  text-indent: 0;
}
article > p:first-of-type::first-letter {
  font-size: 300%;
  padding: .25rem;
  padding-right: 0;
  vertical-align: sub;
  float: left;
  line-height: 2.5rem;
}

article > address {
  text-align: right;
  margin: 2rem 0;
}

/* width and breakpoints
 * TODO: size article width rather than body after article elements exist */
/* TBD breakpoints via env (since media queries don't work) */
:root {
  --size-med: 540px;
  --size-lrg: 960px;
  --size-xlg: 1280px;
}

@media screen {
  body {
    width: 100%;
    max-width: none;
  }
}

@media screen and (min-width: 540px) {
  body {
    width: var(--size-med);
    margin-right: calc(100% - var(--size-med));
  }
}
@media screen and (min-width: 960px) {
  body {
    width: calc(0.75 * var(--size-lrg));
    margin-left: calc(33% - calc( 0.25 * var(--size-lrg)));
    margin-right: calc(67% - calc( 0.5 * var(--size-lrg)));
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 36px;
  }
  body {
    width: calc(1.125 * var(--size-lrg));
  }
}

blockquote.twitter-tweet {
  border: 1px solid rgb(207, 217, 222);
  border-radius: 12px;
  padding: 1rem;
  margin-left: 0;
  width: 550px;
}
blockquote.twitter-tweet:hover {
  background-color: rgb(247,249,249);
  cursor: pointer;
}
blockquote.twitter-tweet button {
  color: rgb(29, 155, 240);
  margin: 1rem auto 0;
  width: 100%;
  background-color: white;
  border-radius: 12px;
  border: 1px solid;
}
